root = true

[*.cs]
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = suggestion

# CA2007: Do not directly await a Task ==> Irrelevant for function project
dotnet_diagnostic.CA2007.severity = none